
$black: #000000;
$black-hover: #191919;
$border-grey: #DCE0E4;
$border-grey-hover: #D9DEE2;
$grey-hover: #f2f2f2;
$grey: #BFC6CC;
$warning-red: #FDEEEE;
$warning-red-border: #EB5757;
$text-grey: #808080;
$green: #2FB02B;
$green-bg: #EAF7EA;


$darker-blue: #EBF2FE;

$dark-blue: #1E5DCE;
$white: #FFFFFF;
$red: #FF5900;
$accent-blue: #2367E0;
$light-blue: #F4F8FF;
$hints: #778D9A;
$lightRed: #FBE2E4;

$violet-pale: #FFE5F5;
$mint: #CDEBF2;
$platinum: #E7E7E7;
$blue-alice: #E4EFFF;
$cyan-light: #D9F4EF;
$purple-pale: #F3EAFF;
$seashell: #F6EAE4;
$pink-pale: #FEDCDC;