//@font-face {
//  font-family: 'Roboto';
//  src: url('/src/assets/fonts/Roboto-MediumItalic.woff2') format('woff2'),
//  url('/src/assets/fonts/Roboto-MediumItalic.woff') format('woff');
//  font-weight: 500;
//  font-style: italic;
//  font-display: swap;
//}
//

@font-face {
  font-family: 'FactorA';
  src: url('/src/assets/fonts/factora/FactorALight-Regular.woff2') format('woff2'), url('/src/assets/fonts/factora/FactorALight-Regular.woff') format('woff'), url('/src/assets/fonts/factora/FactorALight-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FactorA';
  src: url('/src/assets/fonts/factora/FactorA-Regular.woff2') format('woff2'), url('/src/assets/fonts/factora/FactorA-Regular.woff') format('woff'), url('/src/assets/fonts/factora/FactorA-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FactorA';
  src: url('/src/assets/fonts/factora/FactorAMedium-Regular.woff2') format('woff2'), url('/src/assets/fonts/factora/FactorAMedium-Regular.woff') format('woff'), url('/src/assets/fonts/factora/FactorAMedium-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FactorA';
  src: url('/src/assets/fonts/factora/FactorA-Bold.woff2') format('woff2'), url('/src/assets/fonts/factora/FactorA-Bold.woff') format('woff'), url('/src/assets/fonts/factora/FactorA-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'FactorA';
  src: url('/src/assets/fonts/factora/FactorA-Bold.woff2') format('woff2'), url('/src/assets/fonts/factora/FactorA-Bold.woff') format('woff'), url('/src/assets/fonts/factora/FactorA-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}