@import "./colors";
@import "./fonts";
@import "./ui-main-styles";
@import './header/header';


.booking {
	padding-bottom: 48px;
	
	&__inner {
		margin: 0 auto;
		max-width: 1188px;
		padding: 0 16px;
	}
	
	&__top {
	
	}
	
	&__main {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	
	&__left {
		width: 100%;
		max-width: 333px;
	}
	
	&__content {
		width: 100%;
		max-width: 803px;
	}
	
	&__buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 48px;
	}
	
	&__btn {
	
	}
	
}

.only-calendar {

	&.dp__flex_display {
		justify-content: center;
	}

	//& > div:first-child {
	//	width: 100%;
	//	height: 0;
	//	max-height: 0;
	//	overflow: hidden;
	//}
	
	.dp__arrow_top {
		display: none;
	}

	.dp__menu_inner .dp__instance_calendar:first-child .dp__calendar_row:first-child .dp__cell_offset{
		color: $grey;

		.calendar-price {
			display: none;
		}
	}

	.dp__menu_inner .dp__instance_calendar:last-child .dp__calendar_row:last-child .dp__cell_offset{
		color: $grey;

		.calendar-price {
			display: none;
		}
	}

}

.calendar-style {
	


	.dp__calendar_header_item,
	.dp__cell_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 44px;
		height: 44px;
	}
	
	.dp__instance_calendar + .dp__instance_calendar {
		margin-left: 33px;
	}
	
	.dp__menu_inner {
		padding: 16px;
	}
	
	.dp__calendar_row,
	.dp__calendar_header {
		gap: 4px;
	}
	
	.dp__range_end, .dp__range_start, .dp__active_date, .dp__range_between {
		background: $black;
		color: $white !important;
	}
	
	.dp__today {
		border: 0;
	}

	.dp__month_year_select {
		width: fit-content;
		padding: 2px;
	}

	.dp__month_year_wrap {
		justify-content: center;
	}

	.dp__calendar_header_item {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		color: $text-grey;
	}

	.dp__menu_inner {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			display: block;
			height: 24px;
			width: 1px;
			background: $border-grey;
			left: 50%;
			top: 20px;
		}
	}

	.dp__month_year_wrap {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
	}

	.dp__calendar_header_separator {
		display: none;
	}

	.dp__cell_inner {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		color: $green;
		border-radius: 6px;
		box-shadow: none !important;
	}

	.dp__cell_disabled {
		color: $warning-red-border;
		text-decoration: line-through;

		.calendar-price {
			display: none;
		}
	}

	.dp--arrow-btn-nav .dp__inner_nav {
		transform: rotate(90deg);
		background: none;
		width: 14px;
		height: 14px;
	}

	.dp__instance_calendar + .dp__instance_calendar .dp--arrow-btn-nav .dp__inner_nav {
		transform: rotate(-90deg);
		background: none;
		width: 14px;
		height: 14px;
	}

}

.calendar-day {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'FactorA', sans-serif;
	font-weight: normal;
}

.calendar-day-item {
	padding-bottom: 1px;
}

.calendar-price {
	display: flex;
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 8px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
	color: $grey;

	svg {
		margin-right: -1px;
		margin-left: -1px;
	}
}


