@import "./colors";
@import "./fonts";
@import "./ui-main-styles";
@import './header/header';


.booking {
  padding-bottom: 48px;

  &__inner {
    margin: 0 auto;
    max-width: 1188px;
    padding: 0 16px;
  }

  &__top {

  }

  &__main {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include for-1120 {
      margin-top: 16px;
    }

    @include for-992 {
      flex-direction: column;
    }
  }

  &__left {
    width: 100%;
    max-width: 333px;

    @include for-992 {
      max-width: 100%;
    }
  }

  &__content {
    width: 100%;
    max-width: 803px;

    @include for-992 {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
  }

  &__btn {
    .main-button {
      width: 215px;

      @include for-768 {
        width: 136px;
      }
    }
  }
}

.personal-info {

  &__inner {
    padding: 16px;
    border: 1px solid $border-grey;
    border-radius: 8px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px
  }


}

.payment-block{

  &__inner {

  }
  &__title {
    display: flex;
    padding-top: 2px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
  }
  &__title-num {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $black;
    color: $white;
    margin-right: 8px;
    transform: translateY(-2px);
    display: flex;
    justify-content: center;
    //align-items: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    padding-top: 1px;
  }
  &__section {
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid $border-grey;
    padding: 16px;

    &--after-pay{
      @include for-768 {
        margin-bottom: 24px;
      }
    }
  }
  &__rules {
    display: flex;
    flex-direction: column;
  }
  &__rule {
    display: flex;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__rule-icon {
    max-width: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 24px;
    margin-right: 12px;
    display: flex;
  }
  &__rule-txt {
    padding-top: 4px;
  }
  &__rules-agree-block {
    margin-bottom: 48px;

    @include for-768 {
      margin-bottom: 32px;
    }
  }
  &__checkbox{
    padding-left: 16px;
    padding-right: 16px;
  }
  ul {
    padding-left: 22px;
  }
  li {
    list-style: disc;
  }
  &__promo{
    margin-bottom: 24px;
  }
  &__price-summary {
    margin-bottom: 24px;
  }
  &__confirm-btn{
    @include from-550 {
      width: fit-content;
      margin-left: auto;
    }
  }
}


.please-login {

  &__inner {
    padding: 12px 12px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: $grey-hover;

    @include for-550 {
      padding: 16px;
      flex-direction: column;
    }
  }

  &__info {
    margin-right: 12px;

    @include for-550 {
      margin-right: 0;
      margin-bottom: 12px;
    }

    :deep(.info-block__txt){
      font-size: 16px;
    }
  }

  &__btn {
    @include for-550 {
      width: 100%;
    }
  }
}

.promo-field {

  &__inner {
    position: relative;
  }

  &__btn {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 143px;
  }
}

.price-summary {
  border-radius: 8px;
  border: 1px solid $border-grey;
  padding: 16px;

  &--green{
    border-color: $green;
    background: $green-bg;
  }

  &__list {
    padding-bottom: 8px;
    position: relative;
    border-bottom: 1px solid $border-grey;
    margin-bottom: 16px;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 8px;

    &--green > div {
      color: $green;
    }
  }
  &__col {
    color: $text-grey;
    font-size: 16px;
  }
  &__item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__item-price {
    display: grid;
    justify-items: end;
  }
  &__total {
    display: flex;
    justify-content: space-between;
  }
  &__total-txt {

  }
  &__price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    div {
      display: flex;
      white-space: nowrap;
    }

    svg{
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }
  }
}



.calendar-style {

  //&:not(.only-calendar) .dp--menu-wrapper .dp__instance_calendar{
  //  width: 420px;
  //}

  .dp__input_wrap {
    input {
      padding-left: 16px;
      height: 46px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      padding-bottom: 8px;
      border-radius: 8px;
      border: 1px solid #DCE0E4;

      &:hover {
        border: 1px solid #DCE0E4;
      }

      &::placeholder {
        color: $grey;
        text-transform: uppercase;
      }
    }
    svg {
      display: none;
    }
  }

  &:not(.only-calendar) {
    .dp__calendar_header_item, .dp__cell_inner {
      width: 44px;

      @include for-420 {
        width: 36px;
      }
    }
  }

  &:not(.only-calendar) .dp--header-wrap {
    margin-bottom: 24px;
  }

  &:not(.only-calendar) .dp--header-wrap + .dp__calendar {
    padding: 16px 0;
  }

  &:not(.only-calendar) .dp__calendar_item {
    width: 100%;
  }

  .dp__month_year_wrap .dp--arrow-btn-nav:last-child span {
    transform: rotate(-90deg);
    background: none;
    width: 14px;
    height: 14px;
  }

  .dp__calendar_header_item,
  .dp__cell_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 44px;

    @include for-420 {
      height: 36px;
    }
  }

  .dp__instance_calendar + .dp__instance_calendar {
    margin-left: 30px;
  }

  .dp__menu {
    border-radius: 8px;
  }

  .dp__menu_inner {
    padding: 16px;

    @include for-420 {
      padding: 5px 16px 16px;
    }
  }

  .dp__calendar_row,
  .dp__calendar_header {
    gap: 8px;

    @include for-420 {
      gap: 1px;
    }
  }

  .dp__range_end, .dp__range_start, .dp__active_date, .dp__range_between {
    background: $black;
    color: $white !important;
  }

  .dp__today {
    border: 0;
  }

  .dp__month_year_select {
    width: fit-content;
    padding: 2px;
  }

  .dp__month_year_wrap {
    justify-content: center;
  }

  .dp__calendar_header_item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $text-grey;
  }

  .dp__month_year_wrap {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .dp__calendar_header_separator {
    display: none;
  }



  .dp__cell_disabled {
    color: $warning-red-border;
    text-decoration: line-through;

    .calendar-price {
      display: none;
    }
  }

  .dp--arrow-btn-nav .dp__inner_nav {
    transform: rotate(90deg);
    background: none;
    width: 14px;
    height: 14px;
  }

  //.dp__instance_calendar + .dp__instance_calendar .dp--arrow-btn-nav .dp__inner_nav {
  //	transform: rotate(-90deg);
  //	background: none;
  //	width: 14px;
  //	height: 14px;
  //}

}

.calendar-error .dp__input_wrap input {
  border-color: $warning-red-border !important;
}


.only-calendar {

  &.dp__flex_display {
    justify-content: center;
  }

  //& > div:first-child {
  //	width: 100%;
  //	height: 0;
  //	max-height: 0;
  //	overflow: hidden;
  //}

  .dp__arrow_top {
    display: none;
  }

  .dp__cell_inner {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: $green;
    border-radius: 6px;
    box-shadow: none !important;
  }

  .dp__menu_inner .dp__instance_calendar:first-child .dp__calendar_row:first-child .dp__cell_offset {
    color: $grey;

    .calendar-price {
      display: none;
    }
  }

  .dp__menu_inner .dp__instance_calendar:last-child .dp__calendar_row:last-child .dp__cell_offset {
    color: $grey;

    .calendar-price {
      display: none;
    }
  }

  & > div:nth-child(2) {
    width: 100%;
  }

  .dp__calendar_item {
    width: 100%;
  }

  .dp__menu_inner {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 24px;
      width: 1px;
      background: $border-grey;
      left: 50%;
      top: 20px;

      @include for-1120 {
        display: none;
      }
    }
  }

  .dp__calendar_row,
  .dp__calendar_header {
    gap: 4px;

    @include for-420 {
      gap: 1px;
    }
  }

}


.calendar-day {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'FactorA', sans-serif;
  font-weight: normal;
}

.calendar-day-item {
  padding-bottom: 1px;
}

.calendar-price {
  display: flex;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: $grey;

  @include for-420 {
    bottom: -1px;
  }

  svg {
    margin-right: -1px;
    margin-left: -1px;
  }
}

.red {
  color: $warning-red-border;
}

.service-content {

  &--cooking {
    margin-top: 8px;
  }

  &__title {

  }

  &__brooms-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    span {
      padding-top: 3px;
    }
  }

  &__caption {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $text-grey;
  }
}

