@import "./colors";
@import "./fonts";
@import "./ui-main-styles";
@import './header/header';


.booking {
	
	&__inner {
		margin: 0 auto;
		max-width: 1188px;
		padding: 0 16px;
	}
	
	&__top {
	
	}
	
	&__main {
		margin-top: 24px;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	
	&__left {
		width: 100%;
		max-width: 333px;
	}
	
	&__content {
		width: 100%;
		max-width: 803px;
	}
	
	&__buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 48px;
	}
	
	&__btn {
	
	}
	
}

.only-calendar {
	
	& > div:first-child {
		width: 100%;
		height: 0;
		max-height: 0;
		overflow: hidden;
	}
	
	.dp__arrow_top {
		display: none;
	}
	
}

.calendar-style {
	
	.dp__calendar_header_item,
	.dp__cell_inner {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		width: 44px;
		height: 44px;
	}
	
	.dp__instance_calendar + .dp__instance_calendar {
		margin-left: 33px;
	}
	
	.dp__menu_inner {
		padding: 16px;
	}
	
	.dp__calendar_row,
	.dp__calendar_header {
		gap: 4px;
	}
	
	.dp__range_end, .dp__range_start, .dp__active_date, .dp__range_between {
		background: $black;
		color: $white;
	}
	
	.dp__cell_inner {
		border-radius: 0;
		box-shadow: none !important;
	}
	
	.dp__today {
		border: 0;
	}
}
